#head-container
{
  width: 400px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
}
#calc-head
{
  width: 400px;
  height: 100px;
}

#calc-perim
{
  width: 400px;
  height: 500px;
  background-color: #f5a819;
  margin: auto;
  border-style: none solid solid solid;
  border-radius: 0px 0px 10px 10px;
  border-width: 5px;
  
}

